# build artifacts
bin/

# build directory
.build
.cache
.toolchain
.goreleaser-binaries/
.goreleaser-skip-build.yml
build
CMakeUserPresets.json
dist
installers
scripts/version
scripts/pre-push
scripts/buildfab

# environment and tockens
.env
.docker-env

# arts
docs/art/

# docs
DOCUMENTATION_FILES.md

# IDE
*.geany

